<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" href="css/style.css" />
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div id="setting-page">
  <a href="/" class="btn btn-default" id="screen-transition-btn">とっぷへ</a>
  <h1 id="settings-title">せってい</h1>
  <form class="form-inline form-container">
    <label>メールアドレス: </label>
    <input type="text" class="form-control" />
    <input type="submit" value="set" class="btn btn-default" />
  </form>
  <form class="form-inline form-container">
    <label>遅刻理由: </label>
    <input type="text" class="form-control" />
    <input type="submit" value="add" class="btn btn-default" />
  </form>
</div>