<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" href="css/style.css" />
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
    var mail_timer_id;
    var audio;

    function setNowTime()
    {
        var date = new Date();
        var hour = date.getHours();
        var minute = date.getMinutes();
        $("#hour").val(zero_padidng(hour));
        $("#minute").val(zero_padidng(minute));
    }

    function setAlerm()
    {
        var hour = $("#hour").val();
        var minute = $("#minute").val();

        $(".time").html(zero_padidng(hour) + ":" + zero_padidng(minute));
        setTimeout('checkTime()',3000)
    }

    function checkTime()
    {
        var date = new Date();
        var hour = date.getHours();
        var minute = date.getMinutes();

        console.log(hour,minute);

        var check_hour = $("#hour").val();
        var check_minute = $("#minute").val();

        console.log(check_hour,check_minute);

        if (hour == check_hour && minute == check_minute) {
            playMusic();
            mail_timer_id = setTimeout('sendMail()',20000);
            return;
        }
        setTimeout('checkTime()',1000)
    }

    function playMusic()
    {
        console.log('playMusic');
        audio = new Audio();
        audio.src = "mp3/alerm.mp3";
        audio.play();
    }

    function sendMail()
    {
        // mail API叩く
        console.log('sendMail');
        audio.pause();
    }

    function stopAlerm()
    {
        console.log('stopAlerm');
        clearTimeout(mail_timer_id);
        audio.pause();
    }

    function zero_padidng(num)
    {
      return ('00' + num).slice(-2);
    }
</script>
<body onload="setNowTime()">
<div class="title-container">
  <div id="glasses-img"></div>
  <div id="title-img"></div>
</div>
<div class="time-container">
  <input type="text" name="hour" id="hour" class="form-control" value="<%= @alertInfo.alerm_time.strftime('%H') %>"  />
  <div id="time">:</div>
  <input type="text" name="minute" id="minute" class="form-control" value="<%= @alertInfo.alerm_time.strftime('%M') %>" />
</div>
<div class="container">
  <input type="submit" name="set" id="set" value="set" class="btn btn-default" onclick="setAlerm()" />
  <div class="time">00:00</div>
  <input type="submit" name="stop" id="stop" value="stop" class="btn btn-default" onclick="stopAlerm()" />
</div>

