body {
    font-size: 60px;
}

#screen-transition-btn {
    position: absolute;
    top: 10px;
    right: 10px;
}

/* index page style */
.title-container {
    margin: 0 auto;
    width: 600px;
    margin-top: 70px;
}

#glasses-img {
    content: url('../image/glasses.png');
    width: 200px;
    margin-top: -28px;
    float: left;
}

#title-img {
    content: url('../image/title.png');
    width: 400px;
}

.time-container {
    margin-top: 60px;
}

#hour, #minute {
    width: 80px;
    height: 60px;
    font-size: 50px;
}

#set {
    position: relative;
    top: -30px;
}

#stop {
    position: relative;
    top: -20px;
}

.container {
    text-align: center;
}

/* settings page style */
#setting-page {
    font-size: 20px;
    text-align: center;
}

#settings-title {
    margin-top: 70px;
    margin-bottom: 50px;
}

.form-container {
    margin-top: 30px;
}